# Level 3

## Task: Table Booking and Online Delivery

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Dataset .csv")
data

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,Naml۱ Gurme,208,��stanbul,"Kemanke�� Karamustafa Pa��a Mahallesi, R۱ht۱m ...",Karak�_y,"Karak�_y, ��stanbul",28.977392,41.022793,Turkish,...,Turkish Lira(TL),No,No,No,No,3,4.1,Green,Very Good,788
9547,5908749,Ceviz A��ac۱,208,��stanbul,"Ko��uyolu Mahallesi, Muhittin ��st�_nda�� Cadd...",Ko��uyolu,"Ko��uyolu, ��stanbul",29.041297,41.009847,"World Cuisine, Patisserie, Cafe",...,Turkish Lira(TL),No,No,No,No,3,4.2,Green,Very Good,1034
9548,5915807,Huqqa,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.034640,41.055817,"Italian, World Cuisine",...,Turkish Lira(TL),No,No,No,No,4,3.7,Yellow,Good,661
9549,5916112,A���k Kahve,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.036019,41.057979,Restaurant Cafe,...,Turkish Lira(TL),No,No,No,No,4,4.0,Green,Very Good,901
9550,5927402,Walter's Coffee Roastery,208,��stanbul,"Cafea��a Mahallesi, Bademalt۱ Sokak, No 21/B, ...",Moda,"Moda, ��stanbul",29.026016,40.984776,Cafe,...,Turkish Lira(TL),No,No,No,No,2,4.0,Green,Very Good,591

### The percentage of restaurants that offer table booking and online delivery.

In [3]:
table_booking_percentage = data['Has Table booking'].value_counts(normalize = True)*100
print(f"Percentage of table booking :" , table_booking_percentage)

Percentage of table booking : Has Table booking
No     87.875615
Yes    12.124385
Name: proportion, dtype: float64

In [4]:
online_delivery_percentage = data['Has Online delivery'].value_counts(normalize = True)*100
print(f"Percentage of online delivery :" , online_delivery_percentage)

Percentage of online delivery : Has Online delivery
No     74.337766
Yes    25.662234
Name: proportion, dtype: float64

### The average ratings of restaurants with table booking and those without.

In [5]:
avg_rating_with_table_booking = data[data['Has Table booking'] == "Yes"]['Aggregate rating'].mean()
print(f"Average rating with table booking :" , avg_rating_with_table_booking)

Average rating with table booking : 3.4419689119170984

In [6]:
avg_rating_without_table_booking = data[data['Has Table booking'] == "No"]['Aggregate rating'].mean()
print(f"Average rating without table booking :" , avg_rating_without_table_booking)

Average rating without table booking : 2.559358989634219

### The availability of online delivery among restaurants with different price ranges.

In [7]:
online_delivery_by_price_range = data.groupby('Price range')['Has Online delivery'].value_counts(normalize=True).unstack() * 100
print("Percentage of restaurants offering online delivery by price range :\n" , online_delivery_by_price_range)

Percentage of restaurants offering online delivery by price range :
 Has Online delivery         No        Yes
Price range
1                    84.225923  15.774077
2                    58.689367  41.310633
3                    70.809659  29.190341
4                    90.955631   9.044369

## Task: Price Range Analysis

### Determining the most common price range among all the restaurants.

In [8]:
most_common_price_range = data['Price range'].mode().iloc[0]
print(f"Most Common Price Range :", most_common_price_range)

Most Common Price Range : 1

### Calculating the average rating for each price range.

In [9]:
average_rating_by_price_range = data.groupby('Price range')['Votes'].mean()
print("Average Rating by Price Range :\n" , average_rating_by_price_range)

Average Rating by Price Range :
 Price range
1     44.597435
2    147.607131
3    443.860795
4    368.595563
Name: Votes, dtype: float64

### Identifying the color that represents the highest average rating among different price ranges.

In [10]:
highest_rating_color = average_rating_by_price_range.idxmax()
print(f"Color representing the highest average rating :" , highest_rating_color)

Color representing the highest average rating : 3

## Task: Feature Engineering

### Extracting additional features from the existing columns, such as the length of the restaurant name or address.

In [11]:
data['Restaurant Name Length'] = data['Restaurant Name'].apply(len)

In [12]:
data[['Restaurant Name Length']]

      Restaurant Name Length
0                         16
1                         16
2                         22
3                          4
4                         11
...                      ...
9546                      11
9547                      12
9548                       5
9549                      11
9550                      24

[9551 rows x 1 columns]

### Create new features like "Has Table Booking" or "Has Online Delivery" by encoding categorical variables.

In [13]:
data['Has Table booking'] = data['Has Table booking'].map({True: 1, False: 0})
data['Has Online delivery'] = data['Has Online delivery'].map({True: 1, False: 0})

In [14]:
data[['Has Table booking' , 'Has Online delivery']]

      Has Table booking  Has Online delivery
0                   NaN                  NaN
1                   NaN                  NaN
2                   NaN                  NaN
3                   NaN                  NaN
4                   NaN                  NaN
...                 ...                  ...
9546                NaN                  NaN
9547                NaN                  NaN
9548                NaN                  NaN
9549                NaN                  NaN
9550                NaN                  NaN

[9551 rows x 2 columns]